[submodule "html-random-quote"]
	path = html-random-quote
	url = https://github.com/victorlin/html-random-quote
[submodule "html-blank"]
	path = html-blank
	url = https://github.com/victorlin/html-blank
[submodule "html-music-player"]
	path = html-music-player
	url = https://github.com/victorlin/html-music-player
[submodule "text-input-preview"]
	path = text-input-preview
	url = https://github.com/victorlin/text-input-preview
[submodule "electricity-usage"]
	path = electricity-usage
	url = https://github.com/victorlin/electricity-usage
[submodule "vietnamese-clipboard-reader"]
	path = vietnamese-clipboard-reader
	url = https://github.com/victorlin/vietnamese-clipboard-reader
